@import "@style/globalVariables";

.wrapper{
    width: 100%;
    min-height: 57vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0rem;
}

.container{
    width: 90%;
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-family: $PoppinsBold;
    font-size: 2.5rem;
    color: $BlueDark;
    margin-top: -2rem;

    @media (max-width: 768px) {
        font-size: 2rem; // Reduce font size for smaller screens
        margin-top: 0;
    }
}

.highlight {
    position: relative;
    z-index: 1;
}

.highlight::after {
    content: "";
    position: absolute;
    bottom: 11px;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background-color: $Yellow;
    z-index: -1;

    @media (max-width: 768px) {
        bottom: 8px;
    }
}

.content{
    font-family: $MontserratRegular;
    width: 75%;
    font-size: $font-size-small;
    color: $BlueDark;
    text-align: center;
    line-height: 1.5;

    @media (max-width: 768px) {
        width: 90%;
        font-size: 1.1rem;
    }
}

.cards{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 2rem;
    gap: 2rem;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      }

    @media (max-width: 768px) {
        width: 90%;
    }
}

.cardTitle{
    font-family: $PoppinsBold;
    font-size: 1.5rem;
    color: $BlueDark;
    margin-top: 1rem;

    @media (max-width: 768px) {
        font-size: 1.3rem;
    }
}

.cardContent{
    font-family: $MontserratRegular;
    font-size: 1.2rem;
    color: $BlueDark;
    text-align: center;
    margin-top: 1rem;
    line-height: 2rem;

    @media (max-width: 768px) {
        font-size: 1.1rem;
        line-height: 1.8rem;
    }
}
