@import "@style/globalVariables.scss";

.whatNextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  overflow: visible;
  font-family: $RubikRegular;

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    right: -20px;
    bottom: -20px;
    border: 1px dashed rgb(255, 0, 0);
    z-index: 0;
  }

  .backgroundCover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f4f6;
    z-index: 1;
  }
}

.title {
  font-weight: bold;
  font-size: $font-size-large;
  margin-bottom: $spacing-medium;
  margin-top: $spacing-large;
  z-index: 2;
  position: relative;
}

.elementsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-small;
}

.element {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  text-align: left;
  width: 100%;
  max-width: 600px;
  z-index: 2;
  position: relative;
  padding: $spacing-small 0;
}

.numberContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 70px;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid $BlueDark;
  color: $BlueDark;
  font-size: $font-size-x-small;
  background-color: transparent;
  z-index: 2;
}

.line {
  position: absolute;
  top: 40px;
  width: 0.5px;
  background-color: black;
  height: calc(100% - 16px);
  z-index: 2;
}

.text {
  font-size: $font-size-x-small;
  flex-grow: 1;
  padding-top: 10px;
  z-index: 2;
}
