@import "@style/globalVariables.scss";

.section {
    padding-top: 80px;
    min-height: 480px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $BlueDark;

    @media (max-width: 1024px) {
        padding-top: 60px;
        min-height: 400px;
    }

    @media (max-width: 768px) {
        padding-top: 6rem;
        min-height: auto;
        height: auto;
        padding-bottom: 2rem;
    }
}