@import "@style/globalVariables.scss";

.wrapper {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.RightPartner {
    max-width: 1100px;
    width: 100%;
    text-align: center;
    padding: 0 20px;
}

.title {
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-weight: bold;
    color: $BlueDark;
    font-family: $PoppinsBold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    @media (max-width: 768px) {
        font-size: 2rem;
    }

    @media (max-width: 480px) {
        font-size: 1.8rem;
    }
}

.highlight {
    position: relative;
    z-index: 1;
    margin-left: 0.5rem;
}

.highlight::after {
    content: "";
    position: absolute;
    bottom: 14px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: $Yellow;
    z-index: -1;

    @media (max-width: 768px) {
        bottom: -10px;
    }

    @media (max-width: 480px) {
        bottom: 10px;
    }
}


.gridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    width: 100%;
    max-width: 1100px;

    @media (max-width: 900px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    
    @media (max-width: 600px) {
        gap: 1.5rem;
    }
}

@media (max-width: 900px) {
    .gridContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 600px) {
    .gridContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}
