@import "@style/globalVariables.scss";

.boxTitle {
    width: 90%;
    max-width: 1024px;
    height: auto;
    margin: 0 auto;
    padding: 2rem 1rem;
    font-family: $RubikBold;
    background-color: $BlueDark;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    text-align: center;
    align-items: center;
    gap: 1rem;

    @media (min-width: 900px) {
        grid-template-columns: 6fr 4fr;
        text-align: left;
    }
}

.title,
.subTitleMain,
.letsTalk {
    grid-column: 1;
}

.heroImage {
    grid-column: 1;
    grid-row: 3;
    max-width: 100%;
    height: auto;
    transform: scale(1) translate(0, 0);
    align-self: center;

    @media (max-width: 900px) {
        display: none;
    }

    @media (min-width: 900px) {
        grid-column: 2;
        grid-row: 2;
        transform: scale(3.5) translate(50px, -5px);
    }
}

.title {
    font-family: $PoppinsBold;
    color: $White;
    font-size: 1.5rem;
    transform: none;

    @media (min-width: 900px) {
        font-size: $font-size-small;
        transform: translate(30px, 80px);
        text-align: left;
    }
}

.subTitleMain {
    font-family: $MontserratLight;
    font-size: 1.2rem;
    width: 90%;
    max-width: 600px;
    color: $White;
    transform: none;
    line-height: 1.5;

    @media (min-width: 900px) {
        font-size: 1.2rem;
        transform: translate(30px, 40px);
        margin-top: -3rem;
        text-align: left;
    }
}

.letsTalk {
    display: inline-block;
    margin: 1.5rem auto;
    border-radius: 7px;
    font-family: $PoppinsBold;
    font-size: 1rem;
    padding: 0.7rem 2rem;
    background-color: $Yellow;
    color: $BlueDark;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transform: none;

    @media (min-width: 900px) {
        transform: translate(50px, -40px);
        justify-self: end;
    }
}

.letsTalk:hover {
    background-color: $GreenLight;
}

.changingTextFirst {
    color: $Yellow;
    display: inline-block;
    transition:
        transform 0.5s ease,
        opacity 0.5s ease;
}

.changingTextSecond {
    color: $GreenMedium;
    display: inline-block;
    transition:
        transform 0.5s ease,
        opacity 0.5s ease;
}

.isHidden {
    display: none;
    animation: pushOut 0.5s forwards;
}

.isVisible {
    animation: pushIn 0.5s forwards;
}

/* Keyframes */
@keyframes pushIn {
    0% { transform: translateY(-100%); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes pushOut {
    0% { transform: translateY(0%); opacity: 1; }
    100% { transform: translateY(100%); opacity: 0; }
}
