@import "@style/globalVariables.scss";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.title {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: $BlueDark;
    font-family: $PoppinsBold;
}

.subTitle {
    font-size: $font-size-small;
    color: $BlueDark;
    font-family: $PoppinsRegular;
    margin-bottom: 1rem;
}

.highlight {
    position: relative;
    z-index: 1;
}

.highlight::after {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: $Yellow;
    z-index: -1;
}


.gridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    width: 1100px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

@media (max-width: 900px) {
    .gridContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .gridContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}
