@import "@style/globalVariables.scss";

.aboutUsContainer {
  padding: 2rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px auto 0 auto;
}

.aboutUsSection {
  height: 400px;
  display: flex;
  flex-direction: row;
  width: 1024px;
}

.aboutUsText {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: $RubikRegular;
  font-size: $font-size-small;
}
.aboutUsImage {
  width: 300px;
  height: 300px;
}

.ourProcess {
  background-color: $DarkBlue;
  width: 100%;
  color: white;
  font-family: $RubikBold;
  font-size: $font-size-medium;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding-top: 2rem;
}

.ourProcessSubcontainer {
  width: 1024px;
  display: flex;
  flex-direction: column;
}

.ourProcessElements {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: $font-size-small;
  font-family: $RubikLight;
}

.processCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  transition: background-color 0.3s ease;
}

.processCard:hover {
  background-color: lighten($DarkBlue, 5%);
}

.cardTitle {
  flex: 1;
  font-family: $RubikBold;
  font-size: $font-size-small;
}

.cardDetail {
  flex: 2;
  text-align: left;
}

.ourProcessTitle {
  font-size: $font-size-medium;
  margin-bottom: 20px;
}

.lineWithDot {
  display: flex;
  align-items: center;
  gap: 5px;
}

.line {
  width: 230px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

.dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: white;
}

.missionVision {
  width: 100%;
  font-family: $RubikBold;
  font-size: $font-size-medium;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding-top: 2rem;
}

.missionVisionSubcontainer {
  width: 1024px;
  display: flex;
  flex-direction: column;
}

.missionVisionTitle {
  font-family: $RubikBold;
  margin-bottom: 10px;
  color: $DarkBlue;
  font-size: $font-size-medium;
}

.lineWithDotTwo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.lineTwo {
  width: 230px;
  height: 3px;
  background-color: $Orange;
  border-radius: 2px;
}

.dotTwo {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: $Orange;
}

.missionVisionElements {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.missionVisionCard {
  margin-bottom: 20px;
  padding-bottom: 1rem;
  width: 50%;
}

.missionVisionCard .missionVisionTitle {
  font-family: $RubikBold;
  font-size: 1.5rem;
  color:$Blue;
}

.missionVisionCard .missionVisionDescription {
  margin-top: 10px;
  line-height: 1.5;
  padding-right: 20px;
  font-family: $RubikRegular;
  font-size: $font-size-small;
}

.missionVisionCard .missionVisionDescription ul {
  list-style-type: none;
  padding-left: 0;
}

.missionVisionCard .missionVisionDescription ul li {
  position: relative;
  padding-left: 25px;
}

.missionVisionCard .missionVisionDescription ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 8px solid black;
  
  border-radius: 5px;
}

