@import "@style/globalVariables.scss";

.aboutUsContainer {
  padding: 2rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px auto 0 auto;

  @media (max-width: $breakpoint-large) {
    padding: 1.5rem;
    margin: 40px auto 0 auto;
  }

  @media (max-width: $breakpoint-medium) {
    padding: 1rem;
    margin: 40px auto 0 auto;
  }

  @media (max-width: $breakpoint-small) {
    padding: 0.5rem;
    margin: 40px auto 0 auto;
  }
}

.aboutUsSection {
  height: 400px;
  display: flex;
  flex-direction: row;
  width: 1024px;
  margin: 40px auto 0 auto;

  @media (max-width: $breakpoint-large) {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    margin: 60px auto 0 auto;
  }
}

.aboutUsText {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: $RubikRegular;
  font-size: $font-size-small;

  @media (max-width: $breakpoint-medium) {
    font-size: $font-size-x-small;
    text-align: center;
  }
}

.aboutUsImage {
  width: 300px;
  height: 300px;

  @media (max-width: $breakpoint-large) {
    width: 250px;
    height: 250px;
  }

  @media (max-width: $breakpoint-medium) {
    width: 200px;
    height: 200px;
  }

  @media (max-width: $breakpoint-small) {
    width: 150px;
    height: 150px;
  }
}

.ourProcess {
  background-color: $BlueDark;
  width: 100%;
  color: white;
  font-family: $RubikBold;
  font-size: $font-size-medium;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding-top: 2rem;

  @media (max-width: $breakpoint-medium) {
    padding: 1.5rem;
  }

  @media (max-width: $breakpoint-small) {
    padding: 1rem;
  }
}

.ourProcessSubcontainer {
  width: 1024px;
  display: flex;
  flex-direction: column;

  @media (max-width: $breakpoint-large) {
    width: 90%;
  }
}

.ourProcessElements {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: $font-size-small;
  font-family: $RubikLight;

  @media (max-width: $breakpoint-medium) {
    font-size: $font-size-x-small;
  }
}

.processCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: lighten($BlueDark, 5%);
  }

  @media (max-width: $breakpoint-medium) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.cardTitle {
  flex: 1;
  font-family: $RubikBold;
  font-size: $font-size-small;

  @media (max-width: $breakpoint-medium) {
    font-size: $font-size-x-small;
  }
}

.cardDetail {
  flex: 2;
  text-align: left;

  @media (max-width: $breakpoint-medium) {
    text-align: justify;
    font-size: $font-size-x-small;
  }
}

.ourProcessTitle {
  font-size: $font-size-medium;
  margin-bottom: 20px;

  @media (max-width: $breakpoint-medium) {
    font-size: $font-size-small;
  }
}

.lineWithDot {
  display: flex;
  align-items: center;
  gap: 5px;

  @media (max-width: $breakpoint-small) {
    gap: 3px;
  }
}

.line {
  width: 230px;
  height: 3px;
  background-color: white;
  border-radius: 2px;

  @media (max-width: $breakpoint-small) {
    width: 150px;
  }
}

.dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: white;
}

.missionVision {
  width: 100%;
  font-family: $RubikBold;
  font-size: $font-size-medium;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding-top: 2rem;

  @media (max-width: $breakpoint-medium) {
    padding: 1.5rem;
  }

  @media (max-width: $breakpoint-small) {
    padding: 1rem;
  }
}

.missionVisionSubcontainer {
  width: 1024px;
  display: flex;
  flex-direction: column;

  @media (max-width: $breakpoint-large) {
    width: 90%;
  }
}

.missionVisionTitle {
  font-family: $RubikBold;
  margin-bottom: 10px;
  color: $BlueDark;
  font-size: $font-size-medium;

  @media (max-width: $breakpoint-medium) {
    font-size: $font-size-small;
  }
}

.missionVisionElements {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (max-width: $breakpoint-medium) {
    margin-top: 15px;
  }

  @media (max-width: $breakpoint-small) {
    flex-direction: column;
  }
}

.missionVisionCard {
  margin-bottom: 20px;
  padding-bottom: 1rem;
  width: 50%;

  @media (max-width: $breakpoint-medium) {
    width: 100%;
  }
}

.missionVisionCard .missionVisionTitle {
  font-family: $RubikBold;
  font-size: 1.5rem;
  color: $BlueMedium;

  @media (max-width: $breakpoint-medium) {
    font-size: 1.2rem;
  }
}

.missionVisionCard .missionVisionDescription {
  margin-top: 10px;
  line-height: 1.5;
  padding-right: 20px;
  font-family: $RubikRegular;
  font-size: $font-size-small;

  @media (max-width: $breakpoint-medium) {
    font-size: $font-size-x-small;
  }
}

.missionVisionCard .missionVisionDescription ul {
  list-style-type: none;
  padding-left: 0;
}

.missionVisionCard .missionVisionDescription ul li {
  position: relative;
  padding-left: 25px;

  @media (max-width: $breakpoint-small) {
    padding-left: 20px;
  }
}

.missionVisionCard .missionVisionDescription ul li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 8px solid black;
  border-radius: 5px;

  @media (max-width: $breakpoint-small) {
    border-left: 6px solid black;
  }
}
