@import "@style/globalVariables";

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 6rem;

    // &::before {
    //   content: "";
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 10px;
    //   background-color: black;
    // }
  }

  .rightPartnerContainer {
    padding-top: 2rem;
    &::before {
      content: none
    }
  }

.subContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: $BlueDark;
    font-family: $PoppinsBold;

    @media (max-width: 768px) {
        text-align: center;
    }
}

.subTitle {
    font-size: $font-size-small;
    color: $BlueDark;
    font-family: $PoppinsRegular;
    margin-bottom: 3rem;
}

.highlight {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.highlight::after {
    content: "";
    position: absolute;
    bottom: 13px;
    left: 0;
    width: 100%;
    height: 0.5rem;
    background-color: $Yellow;
    z-index: -1;
}


.gridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 40px;
    max-width: 80%;

    @media (min-width: 1798px){
        max-width: 70%;
    }

    @media (max-width: 900px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;

    @media (max-width: 600px) {
        gap: 1.5rem;
    }
}

@media (max-width: 900px) {
    .gridContainer {
        grid-template-columns: repeat(1, 1fr);
    }
    .subTitle{
        width: 80%;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .gridContainer {
        grid-template-columns: repeat(1, 1fr);
    }
}
