@import "@style/globalVariables.scss";

.card {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cardIcon {
    width: 70px;
    height: 70px;
    margin-bottom: 1px;
}

.cardTitle {
    font-family: $PoppinsBold;
    font-size: $font-size-small;
    color: $BlueDark;
    margin-bottom: 1px;
    margin-top: 5px;
}

.cardDescription {
    font-family: $MontserratLight;
    font-size: 1.1rem;
    color: black;
    text-align: left;
    width: 100%;
    line-height: 1.5;
}
