/* components/Contact/style.module.scss */
@import "@style/globalVariables.scss";

.contactContainer {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  font-family: $RubikRegular;
}

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.formGroup {
  margin-bottom: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 50%;
}

.inputLabel {
  position: absolute;
  top: -15px;
  left: 10px;
  font-size: 12px;
  color: #747474;
  transition: all 1s ease;
  opacity: 1;
}

.formGroup input,
.formGroup select {
  width: 100%;
  padding: 10px;
  margin: 0px 10px;
  height: 40px;
  border: none;
  border-bottom: 2px solid #ccc;
  color: #ccc;
  border-radius: 0;
  background-color: transparent;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-bottom: 2px solid #747474;
    color: black;
    font-family: $RubikRegular;
  }

  &::placeholder {
    color: #ccc;
  }
}

.formGroup input:not(:placeholder-shown),
.formGroup select:not([value=""]) {
  & ~ .inputLabel {
    top: -20px;
    font-size: 12px;
    color: #747474;
  }
}

.dynamicTextarea {
  width: 200%;
  height: 40px;
  resize: none;
  overflow-y: hidden;
  min-height: 30px;
  max-height: 100px;
  line-height: 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  margin: 0px 10px;

  &:focus {
    border-bottom: 2px solid #747474;
    outline: none;
  }
}

.fullWidth {
  width: 100%;
  display: flex;
  justify-content: center;
}

.descriptionSuggestion {
  color: #747474;
  margin-bottom: 20px;
}

.attachment {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

.recording,
.uploadFile {
  color: #747474;
  width: 42%;
  height: 100%;
  border: 1px dashed #747474;
  border-radius: $button-radious;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.uploadFile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.uploadContainer {
  display: flex;
  align-items: center;
}

.recordButton,
.uploadButton {
  color: $RedMedium;
  background-color: white;
  border: 1px solid $RedMedium;
  border-radius: $button-radious;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
}
.recordButton:hover,
.uploadButton:hover{
  background-color: $RedMedium;
  color: white;
}

.uploadButton {
  color: $RedMedium;
  margin-right: 10px;
}

.recordButton {
  color: $RedMedium;
}

.uploadDetails {
  border: 1px solid #747474;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.uploadDetails::after {
  content: "You can attach up to 1 file of 2MB overall. Valid files: pdf, jpg, jpeg, png";
  position: absolute;
  bottom: 150%;
  left: 50%;
  font-size: $font-size-x-small;
  transform: translateX(-50%);
  width: 200px;
  height: 100px;
  background-color: #747474;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
  z-index: 10;
}

.uploadDetails:hover::after {
  opacity: 1;
  visibility: visible;
}

.submitBtnContainer {
  margin-top: 16px;
  display: flex;
}

.privacyWarning {
  color: #747474;
}

.privacyPolicy {
  color: black;
}

.privacyPolicy:hover {
  cursor: pointer;
}

.submitBtn {
  padding: 8px 32px;
  background-color: white;
  border-radius: $button-radious;
  color: $RedMedium;
  border: 1px solid $RedMedium;
  cursor: pointer;
  font-size: $spacing-medium;
}

.submitBtn:hover {
  color:white;
  background-color: $RedMedium;
}
